<div class="container marketing">
  <div class="featurette">
    <h2 class="featurette-heading pagination-centered"><span class="text-muted">Contextualize Your Activity</span> <br>
      <h3 class="featurette-heading pagination-centered"><span class="text-muted">Give us a category and some corresponding dates:</span> </h3>
    </h2>
    <br>
    <div class="pagination-centered">
      <form name="categoryForm" novalidate>
          <label>Category:</label>
          <input type="string" name="input" ng-model="formData.categoryLabel" class="long-form">
      </form>
      <br>
      <form name="dateForm" novalidate>
        <label for="dateForm">Dates:</label>
        <div class="form-group" ng-repeat="date in formData.dates" ng-class="{'has-error': dateFieldForm.start.$invalid || dateFieldForm.end.$invalid}">
          <ng-form name="dateFieldForm">
            <p class="help-block" ng-show="dateFieldForm.end.$invalid || dateFieldForm.start.$invalid">Valid Start/End Date Required</p>
            <input type="date" class="form-control short-form" name="start" ng-model="date[0]" placeholder="yyyy-MM-dd" required>
            <input type="date" class="form-control short-form" name="end" ng-model="date[1]" placeholder="yyyy-MM-dd" min="{{ date[0] }}" required>
          </ng-form>
          <div ng-click="deleteDate()" class="btn btn-danger">
            <span class="glyphicon glyphicon-trash"></span>
          </div>
        </div>
      </form>
      <div class="button-set">
        <button class="btn btn-primary" ng-click="addDate()">Add a Date Range</button>
        <button class="btn btn-success" ng-click="dateForm.$valid && submit()" ng-disabled="!dateForm.$valid">Submit</button>
      </div>
      <div>
        <span>Example Categories:</span>
        <div class="btn btn-link" ng-click="preset_school()">School</div>
        <div class="btn btn-link" ng-click="preset_internship()">Intern Season</div>
      </div>
    </div>
  </div>

  <div ng-show="processed">
    <hr id="go-here" class="featurette-divider">

    <div class="featurette">
      <h2 class="featurette-heading pagination-centered"><span class="text-muted">For the Activity Category Provided - </span> {{formData.categoryLabel}} <br>
        <h3 class="featurette-heading pagination-centered"><span class="text-muted">We found the following...</span> </h3>
      </h2>
    </div>
    <br>
    <div class="featurette">
      <h2 class="featurette-heading pagination-centered">Steps</h2>
      <h2 class="glyphicon glyphicon-arrow-up"></h2>
      <h2 class="glyphicon glyphicon-arrow-down"></h2>
      <h2 class="glyphicon glyphicon-fire"></h2>
      <h3 class="featurette-heading"><span class="text-muted">Average Daily Steps</span> {{analysis.mean.steps}}</h3>
      <br>
      <h3 class="featurette-heading pull-right">{{ analysis.diff.steps }} <span class="text-muted">Different from your Lifetime Average</span></h3>
      <br>
      <h3 class="featurette-heading pull-left"><span class="text-muted">This difference is: </span> {{ analysis.ci_test.steps }} </h3>
    </div>

    <hr class="featurette-divider">

    <div class="featurette">
      <h2 class="featurette-heading pagination-centered">Activity Time</h2>
      <h3 class="featurette-heading"><span class="text-muted">Average Inactivity Time</span> {{analysis.mean.sed_act}}</h3>
      <h3 class="featurette-heading"><span class="text-muted">Average Moderate Activity Time</span> {{analysis.mean.med_act}}</h3>
      <br>
      <h3 class="featurette-heading pull-right">{{ analysis.diff.sed_act }} <span class="text-muted">Different from your Lifetime Average</span></h3>
      <h3 class="featurette-heading pull-right">{{ analysis.diff.med_act }} <span class="text-muted">Different from your Lifetime Average</span></h3>
      <br>
      <h3 class="featurette-heading pull-left"><span class="text-muted">This difference is: </span> {{ analysis.ci_test.sed_act }} </h3>
      <h3 class="featurette-heading pull-left"><span class="text-muted">This difference is: </span> {{ analysis.ci_test.med_act }} </h3>
    </div>

    <hr class="featurette-divider">
  </div>
</div>
