<h2>
  Analysis
</h2>
<form name="dateForm" novalidate>
  <label for="dateForm">Pick date ranges for events:</label>
  <div>
    <button ng-click="addDate()">Add</button>
  </div>
  <div class="form-group" ng-repeat="date in formData.dates" ng-class="{'has-error': dateFieldForm.start.$invalid || dateFieldForm.end.$invalid}">
    <ng-form name="dateFieldForm">
      <p class="help-block" ng-show="dateFieldForm.end.$invalid || dateFieldForm.start.$invalid">Valid Start/End Date Required</p>
      <input type="date" class="form-control" name="start" ng-model="date[0]" placeholder="yyyy-MM-dd" required>
      <input type="date" class="form-control" name="end" ng-model="date[1]" placeholder="yyyy-MM-dd" min="{{ date[0] }}" required>
    </ng-form>
    <div>
      <button ng-click="deleteDate()">Delete</button>
    </div>
  </div>
</form>
<div>
  Display output of analysis here
</div>
