<div class="container marketing">
  <div class="featurette">
    <h3 class="featurette-heading"><span class="muted">Monthly Average Activity</span></h3>
    <br>
    <div style="width: auto; height: 500px;">
      <svg id="barchart"></svg>
    </div>
  </div>

  <hr class="featurette-divider">

  <div class="featurette">
    <h3 class="featurette-heading"><span class="muted">Daily Activity</span></h3>
    <br>
    <div style="width: auto; height: 500px;">
      <svg id="barchart2"></svg>
    </div>
  </div>

</div>
