<div>
  <h2>Visualize and Contextualize Year-long Fitbit Data</h2>
  <br>
  <h4 class="text-muted">The purpose of this page is to allow users to analyze, contextualize, and make goals based on their year-long activity data. </h4>
  <h4 class="text-muted">Specifically, we do the following: chart both daily and monthly (summarized) activity data, identify trends in activity for user-submitted date ranges, and to calculate recent activity trends in comparison to a year ago -- which are used as a target.</h4>
  <h4 class="text-muted">As a placeholder for a user-uploaded folder of retrieved Fitbit activity data, we are using jhh283's data for this application (necessary due to Fitbit's API limits).</h4>
  <h4><a href="/graphs">Go</a></h4>
</div>
