<div class="container marketing">
	<h2 class="text-muted" align="center"> Average daily statistics in the most recent 30 days</h2>
	<div class="row">
		<div class="col-md-3"></div>
		<div class="col-md-2">
			<div class="panel panel-default" align="center">
	    		<div class="panel-body">
	    			<h3 class="glyphicon glyphicon-arrow-up" ng-if="recc.recent.steps >= recc.lifetime.steps" style="color: green"></h3>
	    			<h3 class="glyphicon glyphicon-arrow-down" ng-if="recc.recent.steps < recc.lifetime.steps" style="color: red"></h3>
	    			<h2 style="font-weight: bold">{{ recc.recent.steps }}
	    			<span class="glyphicon glyphicon-fire" ng-if="recc.recent.steps_ci == 1" style="color: green"></span>
	    			<span class="glyphicon glyphicon-alert" ng-if="recc.recent.steps_ci == -1" style="color: red"></span>
	    			</h2>
	    			<span class="text-muted">Steps</span>
	    		</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="panel panel-default" align="center">
				<div class="panel-body">
	    			<h3 class="glyphicon glyphicon-arrow-up" ng-if="recc.recent.med_act >= recc.lifetime.med_act" style="color: green"></h3>
	    			<h3 class="glyphicon glyphicon-arrow-down" ng-if="recc.recent.med_act < recc.lifetime.med_act" style="color: red"></h3>
					<h2 style="font-weight: bold">{{ recc.recent.med_act }}
						<span class="glyphicon glyphicon-fire" ng-if="recc.recent.med_act_ci == 1" style="color: green"></span>
		    			<span class="glyphicon glyphicon-alert" ng-if="recc.recent.med_act_ci == -1" style="color: red"></span>
	    			</h2>
					<span class="text-muted">Active Minutes</span>
				</div>
			</div>
		</div>
		<div class="col-md-2">
			<div class="panel panel-default" align="center">
				<div class="panel-body">
	    			<h3 class="glyphicon glyphicon-arrow-down" ng-if="recc.recent.sed_act <= recc.lifetime.sed_act" style="color: green"></h3>
	    			<h3 class="glyphicon glyphicon-arrow-up" ng-if="recc.recent.sed_act > recc.lifetime.sed_act" style="color: red"></h3>
					<h2 style="font-weight: bold">{{ recc.recent.sed_act }}
						<span class="glyphicon glyphicon-fire" ng-if="recc.recent.sed_act_ci == -1" style="color: green"></span>
		    			<span class="glyphicon glyphicon-alert" ng-if="recc.recent.sed_act_ci == 1" style="color: red"></span>
	    			</h2>
					<span class="text-muted">Inactive Minutes</span>
				</div>
			</div>
		</div>
		<div class="col-md-3"></div>
	</div>
</div>

<hr class="featurette-divider">
<div class="featurette">
	<div class="row">
		<div class="col-md-6">
			<h3 class="text-muted">
				Average daily stats in <span style="font-weight: bold; color: black;">{{recc.mo}}</span> last year:
			</h3>
			<h4 class="text-muted">
			<ul>
				<li>{{recc.last.steps/30 | number: 0}} steps which is 
					<span class="glyphicon glyphicon-arrow-up" ng-if="recc.last.steps/30 >= recc.lifetime.steps" style="color: green"></span>
	    			<span class="glyphicon glyphicon-arrow-down" ng-if="recc.last.steps/30 < recc.lifetime.steps" style="color: red"></span>
					{{recc.last.steps/30 - recc.lifetime.steps | abs | number: 0}}
					<span class="glyphicon glyphicon-fire" ng-if="recc.last.steps_ci == 1" style="color: green"></span>
		    		<span class="glyphicon glyphicon-alert" ng-if="recc.last.steps_ci == -1" style="color: red"></span> 
					from your lifetime average</li>
				<li>{{recc.last.med_act/30}} active minutes which is 
					<span class="glyphicon glyphicon-arrow-up" ng-if="recc.last.med_act/30 >= recc.lifetime.med_act" style="color: green"></span>
	    			<span class="glyphicon glyphicon-arrow-down" ng-if="recc.last.med_act/30 < recc.lifetime.med_act" style="color: red"></span>
	    			{{recc.last.med_act/30 - recc.lifetime.med_act | abs | number:0}}
					<span class="glyphicon glyphicon-fire" ng-if="recc.last.med_act_ci == 1" style="color: green"></span>
		    		<span class="glyphicon glyphicon-alert" ng-if="recc.last.med_act_ci == -1" style="color: red"></span>
	    			from your lifetime average</li>
			</ul>
			</h4>
			<h3 class="text-muted" ng-if="recc.last.steps_ci == -1 || recc.last.med_act_ci == -1">You were less active than usual. Try to improve this year!</h3>
			<h3 class="text-muted" ng-if="recc.last.steps_ci == 1 || recc.last_med_act_ci == 1">You were active. Keep it up!</h3>
			
		</div>
		<div class="col-md-3">
			<h4>Steps</h4>
			<p>Last {{recc.mo}}: {{ recc.last.steps }} steps</p>
			<div id="steps" data-dimension="250" data-info="Steps" data-width="30" data-fontsize="38" data-fgcolor="#61a9dc" data-bgcolor="#eee" data-fill="#fff" data-icon="long-arrow-up" data-icon-size="28" data-icon-color="#fff"></div>
		</div>
		<div class="col-md-3">
			<h4>Moderate Activities</h4>
			<p>Last {{recc.mo}}: {{ recc.last.med_act }} minutes</p>
			<div id="medact" data-dimension="250" data-info="Minutes" data-width="30" data-fontsize="38" data-fgcolor="#61dc7c" data-bgcolor="#eee" data-fill="#fff" data-icon="long-arrow-up" data-icon-size="28" data-icon-color="#fff"></div>
		</div>
	</div>
</div>






